<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="OnlinePaymentsSdk" type="OnlinePayments.Sdk.CommunicatorConfigurationSection, OnlinePayments.Sdk" />
	</configSections>
	<OnlinePaymentsSdk connectTimeout="-1" socketTimeout="300000" maxConnections="1" authorizationType="v1HMAC" integrator="OnlinePayments">
		<apiEndpoint host="payment.preprod.direct.worldline-solutions.com" scheme="https" />
	</OnlinePaymentsSdk>
</configuration>
